//
//  Dev.xcconfig
//  demoCaptureImage
//
//  Created by phat nguyen on 5/8/19.
//  Copyright © 2019 phatnt. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//CocoaPod configurations
#include "Pods/Target Support Files/Pods-demoCaptureImage/Pods-demoCaptureImage.dev.xcconfig"

//App configurations
APP_NAME = demo Dev
LABEL_COLOR = #FFFFFF
BACKGROUND_COLOR = #008000
SERVER_URL = 192.168.1.169:8090


