//
//  Prod.xcconfig
//  demoCaptureImage
//
//  Created by phat nguyen on 5/8/19.
//  Copyright © 2019 phatnt. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//CocoaPod configurations
#include "Pods/Target Support Files/Pods-demoCaptureImage/Pods-demoCaptureImage.prod.xcconfig"

//App configurations
APP_NAME = demo Prod
LABEL_COLOR = #000000
BACKGROUND_COLOR = #FFFFFF
SERVER_URL = 192.168.1.89:8089
