//
//  Stagging.xcconfig
//  demoCaptureImage
//
//  Created by phat nguyen on 5/8/19.
//  Copyright © 2019 phatnt. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//CocoaPod configurations
#include "Pods/Target Support Files/Pods-demoCaptureImage/Pods-demoCaptureImage.debug (stagging).xcconfig"
#include "Pods/Target Support Files/Pods-demoCaptureImage/Pods-demoCaptureImage.release (stagging).xcconfig"

//App configurations
APP_NAME = demo Stagging
LABEL_COLOR = #000000
BACKGROUND_COLOR = #FFFF00
SERVER_URL = 192.168.1.89:8089
